.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 300px;
    height: 300px;
}

.row {
    display: flex;
    width: 300px;
    gap: 2px;
}


.unit {
    background-color: grey;
}

.hovering {
    background-color: white;
}

