.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 70vw;
    height: 70vw;
}

.row {
    display: flex;
    gap: 2px;
}


.unit {
    background-color: grey;
}

.hovering {
    background-color: white;
}

